<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Devri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Devri ffs" />
    <meta name="msapplication-TileColor" content="#00a1cf">
    <link href="css/custom.css" rel="stylesheet">
    <link href="./css/w3.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Style Library -->

    <!--Calender-->
    <link rel="stylesheet" href="css/clndr.css" type="text/css" />
    <script src="js/underscore-min.js"></script>
    <script src="js/moment-2.2.1.js"></script>
    <script src="js/clndr.js"></script>
    <script src="js/site.js"></script>
    <!--End Calender-->
    <script src="js/jClocksGMT.js"></script>
    <link rel="stylesheet" href="css/jClocksGMT.css">

</head>

<body>
    <header id="header-1" class="soft-scroll header-1" style="background-image: linear-gradient(to right, #95d7ff, #7fa0ff);height:60px;">

        <nav class="main-nav navbar-fixed-top">

            <div class="navbar-header" style="line-height:60px;">
                <a href="#" style="margin-left:8%;vertical-align:middle;text-decoration:none;font-size:40px;color:white;" class="w3-animate-left">
                  Project Devri : 00000
            </a>
            </div>

        </nav>

    </header>

    <div class="w3-container" style="margin:30px 40px 0 40px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m2">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white" style="height:800px">
                    <div class="w3-container w3-center">
                        <p><img src="img/devri.png" height="180" class="brand-img img-responsive" alt="Avatar"></p>
                        <p style="font-size:20px;">Devri는 지금 <small style="font-size:18px;color:#7f8bff">(감정)</small> </p>
                        <hr>

                        <h2 style="color:grey;margin-bottom:20px;"><a style="text-decoration:none" href="index.html">메인</a></h2>
                        <h2 style="color:grey;margin-bottom:20px;"><a style="text-decoration:none" href="Devri_Calander.html">일정 관리</a></h2>
                        <h2 style="color:grey;margin-bottom:20px;"><a style="text-decoration:none" href="#">설정</a></h2>
                        <h2 style="color:#7f8bff;margin-bottom:20px;"><a style="text-decoration:none" href="Devri_preference.html">컨텐츠</a></h2>

                    </div>
                </div>
                <br>

                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m10">

                <div class="w3-card w3-round w3-white" style="position:relative;margin:0 50px;padding:0 40px;height:800px">
                    <div class="w3-container" style="text-align:left;color:grey">
                        <br>
                        <h1 style="text-align:left;color:grey">뉴스</h1>

                            <div style="margin-left:10px;">

                            <h2 style="margin:0;">[속보] 전 현무 사망 </h2>
                            <h4 style="margin:0;">[방송사] / [시간]</h4>
                            <br>
<br><br>
                    </div>

                        <p style="clear:left;font-size:20px;">내용 ~~~</p>
                        <br>
                        <br>
                        <br>

                        <div class="w3-center">
                    </div>
                    </div>

                    <a href="#" style="color:grey;position:absolute; right:0px; bottom:0px;margin:30px;font-size:25px;text-decoration:none">다음</a>
                    <a href="#" style="color:grey;position:absolute; left:0px; bottom:0px;margin:30px;font-size:25px;text-decoration:none">이전</a>
                </div>



            </div>
            <br>
            <div class="w3-third w3-container w3-margin-bottom" style="width:200px;padding:0;margin:20px 10px 20px 50px">
              <h3>다른 기사 읽기</h3>
              <a href="#" style="text-decoration:none">
                 <img src="https://via.placeholder.com/200x100" class="w3-hover-opacity">
                 <div class="w3-container w3-white" style="width:200px">
                   <h4 style="color:grey">핲라3 떡밥</h4>
                   <br>

                 </div>
               </div>
             </a>
               <br>
               <div class="w3-third w3-container w3-margin-bottom" style="width:200px;padding:0;margin:20px 10px">
                 <a href="#" style="text-decoration:none">
                   <h3>&nbsp;</h3>
                    <img src="https://via.placeholder.com/200x100" class="w3-hover-opacity">
                    <div class="w3-container w3-white" style="width:200px">
                      <h4 style="color:grey">Lorem Ipsum</h4>
                      <br>

                    </div>
                  </a>
                  </div>
                  <div class="w3-third w3-container w3-margin-bottom" style="width:200px;padding:0;margin:20px 10px">
                    <a href="#" style="text-decoration:none">
                      <h3>&nbsp;</h3>
                       <img src="https://via.placeholder.com/200x100" class="w3-hover-opacity">
                       <div class="w3-container w3-white" style="width:200px">
                         <h4 style="color:grey">Lorem Ipsum</h4>
                         <br>

                       </div>
                     </a>
                     </div>
                     <div class="w3-third w3-container w3-margin-bottom" style="width:200px;padding:0;margin:20px 10px">
                       <a href="#" style="text-decoration:none">
                         <h3>&nbsp;</h3>
                          <img src="https://via.placeholder.com/200x100" class="w3-hover-opacity">
                          <div class="w3-container w3-white" style="width:200px">
                            <h4 style="color:grey">Lorem Ipsum</h4>
                            <br>

                          </div>
                        </a>
                        </div>

        </div>
    </div>


</body>

</html>
